<h1>Rinks</h1>
<table class="table">
  <% @rinks.each do |rink| %>
    <tr>
      <th><%= rink.id %></th>
      <td><%= rink.name %> &mdash; <%= link_to "source", rink.url, target: "_blank" %></td>
    </tr>
  <% end %>
</table>
